/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
    height: 100%;
  }


  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    display: flex;
    align-items: center ;
    background: url("https://i.imgur.com/QiHJSAP.png") no-repeat ;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.397)
    
  }
  .floating-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    vertical-align: middle;
    background: url("https://i.imgur.com/YFcELRC.png") no-repeat;
    background-size: cover;
    box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 15px solid rgba(201, 201, 201, 0.747);
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    height: 60%;
    width: 30vw;
    float: right;
    overflow: auto;
    position: static;
    border-radius: 25px;
    


  }
  #pano {
    width: 69vw;
    height: 100%;
    float: left;
    box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  }


  #flex-container {
    display: flex;


    text-align: center;
    flex-direction: column;  

    width: 30vw; 
}

.location-card {
    align-self: center;
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
    flex: 0 1 10%;
    height: 40%;
    width: 80%;
}
